{% extends 'base.html.twig' %}

{% block title %}Child{% endblock %}

{% block body %}

<div class="app-page">
  <div class="app-navigation">
    <a class="pure-button item" href="/">
        <i class="fa fa-home" aria-hidden="true"></i>Home
    </a>
    <a class="pure-button item" href="{{ path('group_meeting', { id: group_meeting.id }) }}">
        <i class="fa fa-reply" aria-hidden="true"></i>Back to Group meeting
    </a>
  </div>

  <h1>

    {{ child.firstName }} {{ child.lastName }}

  </h1>

  <section class="edit measurements">

    {% if has_existing_measurements %}

      <h3>Edit Existing Measurements</h3>

    {% else %}

      <h3>Add New Measurements</h3>

    {% endif %}

    <div class="app-form">
      {% form_theme form 'forms/form-rows.html.twig' %}

      {{ form_start(form, {'attr': {'class': 'pure-form pure-form-stacked'}}) }}
        {{ form_errors(form) }}

        {{ form_row(form.height) }}
        {{ form_row(form.weight) }}
        {{ form_row(form.photo) }}
      {{ form_end(form) }}

    </div>
  </section>

{#  <section class="all-measurements">#}
{#    <h3>All measurements</h3>#}

{#    {% if child.measurements is not null %}#}

{#      <table class="pure-table measurements">#}
{#        <thead>#}
{#          <tr>#}
{#            <th>Group meeting</th>#}
{#            <th>Height</th>#}
{#            <th>Weight</th>#}
{#            <th>Photo</th>#}
{#          </tr>#}
{#        </thead>#}

{#        <tbody>#}

{#          {% for measurements in child.measurements %}#}

{#            <tr>#}
{#              <td>{{ measurements.groupMeeting }}</td>#}
{#              <td>{{ measurements.height }} cm</td>#}
{#              <td>{{ measurements.weight }} kg</td>#}
{#              <td>#}

{#                {% if measurements.photo is not null %}#}

{#                  <img src="{{ measurements.photo }}" alt="Child image" height="80px"/>#}

{#                {% endif %}#}

{#              </td>#}
{#            </tr>#}

{#          {% endfor %}#}

{#        </tbody>#}
{#      </table>#}

{#    {% else %}#}

{#      <div class="no-measurements-message">#}
{#          Child has no measurements.#}
{#      </div>#}

{#    {% endif %}#}

{#  </section>#}

{% endblock %}
