{% extends 'base.html.twig' %}

{% block title %}Hello ChildController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <div>
        <a href="{{ path('mother', {groupMeetingFileId: group_meeting.fileId, fileId: child.identifier.mother}) }}">
            <i class="fa fa-reply" aria-hidden="true"></i> Back to mother
        </a>
    </div>

    <h1>
        {{ child.identifier.firstName }} {{ child.identifier.lastName }}
    </h1>

    {% if has_existing_measurements %}
        <div>
            Edit existing measurements
        </div>
    {% else %}
        <div>
            No measurements taken yet for this group meeting.
        </div>
    {% endif %}

    <div>
        {{ form(form, {'attr': {'class': 'pure-form pure-form-stacked'}}) }}
    </div>


    {% if child.measurements is not null %}
      <div class="all-measurements">
        <h3>All measurements</h3>
            <table class="pure-table measurements">
              <thead>
                <tr>
                  <th>Group meeting</th>
                  <th>Height</th>
                  <th>Weight</th>
                  <th>Image</th>
                </tr>
              </thead>

              <tbody>

                {% for measurements in child.measurements %}

                  <tr>
                    <td>{{ measurements.groupMeeting }}</td>
                    <td>{{ measurements.height }} cm</td>
                    <td>{{ measurements.weight }} kg</td>
                    <td>

                      {% if measurements.photo is not null %}

                          <img src="{{ measurements.photo }}" alt="Child image" height="80px"/>

                      {% endif %}

                    </td>
                  </tr>

                {% endfor %}

              </tbody>
            </table>

          {% else %}

            <div class="no-measurements-message">
                Child has no measurements ever taken.
            </div>

          {% endif %}

      </div>
{% endblock %}
