{% extends 'base.html.twig' %}

{% block title %}Hello ChildController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div>
        <a href="{{ path('mother', {groupMeetingFileId: group_meeting.fileId, fileId: child.identifier.mother}) }}">
            Back to mother
        </a>
    </div>

    {{ dump(child) }}

    <h1>
        {{ child.identifier.firstName }} {{ child.identifier.lastName }}
    </h1>

    {% if measurements_from_group_meeting_index is null %}
        <div>
            No measurements taken yet for this group meeting.
        </div>
        <div>
            {{ form(form) }}
        </div>

    {% else %}
        <div>
            Measurements from this group session:
        </div>
        {{ dump(child.measurements[measurements_from_group_meeting_index]) }}
    {% endif %}

    {% if child.measurements is not null %}
        <div>
            <h3>All measurements</h3>
            <details>
                <ul>
                    {% for measurements in child.measurements %}
                        <li>
                            <div>Group meeting: {{ measurements.groupMeeting }}</div>
                            <div>Height: {{ measurements.height }} cm</div>
                            <div>Weight: {{ measurements.weight }} kg</div>
                            {% if measurements.photo is not null %}
                            <div>
                                <img src="{{ measurements.photo }}" alt="Child image" height="80px"/>
                            </div>
                            {% endif %}


                        </li>
                    {% endfor %}
                </ul>

            </details>
        </div>
    {% else %}
        <div>
            Child has no measurements ever taken.
        </div>
    {% endif %}






</div>
{% endblock %}
