{% extends 'base.html.twig' %}

{% block title %}Group meetings{% endblock %}

{% block body %}

<div class="app-page">
  <h1>Group Meetings</h1>

<<<<<<< HEAD
  <ul class="group-meetings app-list">

    {% for group_meeting in group_meetings %}
      <li>
        <a class="item" href="{{ path('group_meeting', {fileId: group_meeting.fileId}) }}">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <div class="item-name">
              {{ group_meeting.name }}
            </div>
=======
  <ul class="group-meetings app-list fa-ul">

    {% for group_meeting in group_meetings %}
      <li><i class="fa fa-calendar" aria-hidden="true"></i>
        <a href="{{ path('group_meeting', {fileId: group_meeting.fileId}) }}">
            {{ group_meeting.name }}
>>>>>>> origin/master
        </a>
      </li>
    {% endfor %}

  </ul>

{#    <details>#}
{#        {{ dump(group_meetings[0]) }}#}
{#    </details>#}


</div>

{% endblock %}
