{% extends 'base.html.twig' %}

{% block title %}Hello GroupMeetingController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div>
        <a href="{{ path('group_meetings') }}">
          <i class="fa fa-reply" aria-hidden="true"></i> Back to group meetings
        </a>
    </div>

    <h1>{{ group_meeting.name }}</h1>

    <ul class="fa-ul">
        {% for motherIdentifier in group_meeting.motherIdentifiers %}
            <li><i class="fa fa-female" aria-hidden="true"></i>
                <a href="{{ path('mother', {groupMeetingFileId: group_meeting.fileId, fileId: motherIdentifier.fileId}) }}">
                    {{ motherIdentifier.firstName }} {{ motherIdentifier.lastName }}
                </a>
            </li>
        {% endfor %}
    </ul>

{#    <details>#}
{#        {{ dump(group_meeting) }}#}
{#    </details>#}

</div>
{% endblock %}
