{% extends 'base.html.twig' %}

{% block title %}Group meeting{% endblock %}

{% block body %}

<div class="app-page">
    <div class="app-navigation">
      <a class="pure-button item" href="/">
          <i class="fa fa-home" aria-hidden="true"></i>Home
      </a>

      <a class="pure-button item" href="{{ path('group_meetings') }}">
        <i class="fa fa-reply" aria-hidden="true"></i>Back to group meetings
      </a>
    </div>

    <h1>{{ group_meeting_attendance_list.groupMeeting.name }}</h1>

    {{ dump(group_meeting_attendance_lists) }}

{#    <ul class="mothers app-list">#}
{#        {% for motherIdentifier in group_meeting.motherIdentifiers %}#}
{#            <li>#}
{#                <a class="item" href="{{ path('mother', {groupMeetingFileId: group_meeting.fileId, fileId: motherIdentifier.fileId}) }}">#}
{#                    <i class="fa fa-female" aria-hidden="true"></i>#}
{#                    <div class="item-name">#}
{#                      {{ motherIdentifier.firstName }} {{ motherIdentifier.lastName }}#}
{#                    </div>#}
{#                </a>#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}

{#    <details>#}
{#        {{ dump(group_meeting) }}#}
{#    </details>#}

</div>
{% endblock %}
