{% extends 'base.html.twig' %}

{% block title %}Hello MotherController!{% endblock %}

{% block body %}

<div class="example-wrapper">

    <div class="app-navigation">
      <a class="pure-button item" href="/">
          <i class="fa fa-home" aria-hidden="true"></i>Home
      </a>

      <a class="pure-button item" href="{{ path('group_meeting', {fileId: group_meeting.fileId}) }}">
        <i class="fa fa-reply" aria-hidden="true"></i>Back to group meeting {{  group_meeting.name }}
      </a>

    </div>

    <h1>
        {{ mother.identifier.firstName }} {{ mother.identifier.lastName }}
    </h1>

    <ul>
        {% for childIdentifier in mother.identifier.childrenIdentifiers %}
            <li>
                <a href="{{ path('child', {groupMeetingFileId: group_meeting.fileId, fileId: childIdentifier.fileId}) }}">
                    {{ childIdentifier.firstName }} {{ childIdentifier.lastName }}
                </a>
            </li>
        {% endfor %}
    </ul>

{#    <details>#}
{#        {{ dump(mother) }}#}
{#    </details>#}


</div>
{% endblock %}
