{% extends 'base.html.twig' %}

{% block title %}Mother{% endblock %}

{% block body %}

<div class="app-page">

    <div class="app-navigation">
      <a class="pure-button item" href="/">
          <i class="fa fa-home" aria-hidden="true"></i>Home
      </a>

      <a class="pure-button item" href="{{ path('group_meeting', {id: group_meeting.id}) }}">
        <i class="fa fa-reply" aria-hidden="true"></i>Back to group meeting {{  group_meeting_attendance.group_meeting.name }}
      </a>

    </div>

    <h1>
        {{ group_meeting_attendance.mother.firstName }} {{ group_meeting_attendance.mother.lastName }}
    </h1>

{#    <ul class="fa-ul children app-list">#}
{#        {% for childIdentifier in mother.identifier.childrenIdentifiers %}#}
{#            <li>#}
{#                <a class="item" href="{{ path('child', {groupMeetingFileId: group_meeting.fileId, fileId: childIdentifier.fileId}) }}">#}
{#                    <i class="fa fa-child" aria-hidden="true"></i>#}
{#                    <div class="item-name">#}
{#                      {{ childIdentifier.firstName }} {{ childIdentifier.lastName }}#}
{#                    </div>#}
{#                </a>#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}

{#    <details>#}
{#        {{ dump(mother) }}#}
{#    </details>#}


</div>
{% endblock %}
